//- extends ../index.pug

block header
	.header-bottom
		.header-bottom__container
			nav
				ul.header-bottom__nav
					li
						a(href='#') Главная
					li
						a(href='#') О нас
					li
						a(href='#') Каталог
					li
						a(href='#') Новости
					li
						a(href='#') Акции
					li
						a(href='#') Подарки
					li
						a(href='#') Статьи
					li
						a(href='#') Услуги
					li
						a(href='#') Связаться с нами
					li
						a(href='#')
					li
						a(href='#')
							img(src='./images/icons/korzina.png' alt='')
					li
						a(href='#') Корзина пуста
