* {
  margin: 0;
  padding: 0;
}

.wrapper {
  font-size: 14px;
  font-family: "Proxima Nova Rg";
  color: #1c1b1a;
}

input {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@import "header/header-top";
@import "header/header-middle";
@import "header/header-bottom";
@import "main/aside";
@import "main/content";
@import "main/bottom";
@import "footer/footer-top";
@import "footer/footer-bottom";
