$main-color: #cf0000;

@import './a_header.scss';
@import './b_aside.scss';
@import './c_main-top.scss';
@import './d_main-bottom.scss';
@import './e_footer-top.scss';
@import './f_footer-bottom.scss';

header {
	background-color: #ccc;
}

main {
	background-color: #ddd;
}

footer {
	background-color: #eee;
}