extends layouts/layout.pug

block header
	include header/header-top.pug
	include header/header-middle.pug
	include header/header-bottom.pug

block main
	include main/aside.pug
	include main/content.pug
	include main/bottom.pug

block footer
	include footer/footer-top.pug
	include footer/footer-bottom.pug