extends layouts/layout.pug

block header
	include header/header-top.pug
	include header/header-middle.pug
	include header/header-bottom.pug

block main-top
	include main/main-top/aside.pug
	include main/main-top/main-content.pug
block main-bottom
	include main/main-bottom/main-bottom.pug

block footer
	include footer/footer-top.pug
	include footer/footer-bottom.pug